* {
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
    background-color: #E5B299;
}

#site-nav {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-item {
    font-size: 28px;
    padding: 0 30px;
    margin-top: 55px;
}

.nav-link {
    text-decoration: none;
    color: #7D5A50;
}

.nav-link:hover {
    color: #FCDEC0;
}

main {
    background-color: #FCDEC0;
    padding: 30px;
}

#contacts-header {
    margin-bottom: 20px;
    text-align: center;
}

#contacts-container {
    margin: 0 auto;
    height: 400px;
    width: 50%;
    border: 1px solid grey;
}

footer {
    height: 100px;
    background-color: #7D5A50;
}