/* 
#402E7A
#4C3BCF
#4B70F5
#3DC2EC */
* {
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
    background-color: #E5B299;
}

#site-nav {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-item {
    font-size: 28px;
    padding: 0 30px;
    margin-top: 55px;
}

.nav-link {
    text-decoration: none;
    color: #7D5A50;
}

.nav-link:hover {
    color: #FCDEC0;
}

main {
    background-color: #FCDEC0;
    padding-bottom: 50px;
}

#resume-container {
    width: 40%;
    margin: 0 auto;
    padding: 40px 0;
}

#resume-header {
    text-align: center;
    margin-bottom: 20px;
}

#resume-image {
    width: 200px;
    height: 200px;
    border-radius: 40px;
    float: left;
    margin: 0 20px 20px;
}

#project-showcase {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

#project-header {
    text-align: center;
}

.short-project-container {
    background-color: rgb(102, 72, 102);
    width: 400px;
    height: 300px;
}

#stay-with-ukraine-promo {
    width: 60%;
    margin: 20px auto 0;
}

#stay-ukraine-header {
    text-align: center;
    margin-bottom: 40px;
}

footer {
    height: 100px;
    background-color: #7D5A50;
}
