/* #7D5A50
#B4846C
#E5B299
#FCDEC0 */
* {
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
    background-color: #E5B299;
}

#site-nav {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-item {
    font-size: 28px;
    padding: 0 30px;
    margin-top: 55px;
}

.nav-link {
    text-decoration: none;
    color: #7D5A50;
}

.nav-link:hover {
    color: #FCDEC0;
}

main {
    background-color: #FCDEC0;
}

#resume-container {
    width: 60%;
    margin: 0 auto;
    padding: 40px 0;
}

.section-header {
    color: #7D5A50;
    margin-bottom: 40px;
}

#project-header {
}

#project-showcase {
    display: flex;
    justify-content: center;
}

.short-project-container {
    margin: 20px 30px;
    height: 150px;
    width: 300px;
    background-color: darkcyan;
}

footer {
    height: 100px;
    background-color: #7D5A50;
}
